@model IntiGuard.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="container mt-5">
    <h2>Eliminar Usuario</h2>
    <hr />

    <p class="text-danger">
        ¿Estás seguro de que deseas eliminar a este usuario?
    </p>

    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Detalles del Usuario</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombres)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombres)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NombreRol)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NombreRol)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" name="id" value="@Model.IdUsuario" />
            <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar y Volver</a>
        </form>
    </div>
</div>
