@model IEnumerable<IntiGuard.Models.Usuario>
@{
    ViewData["Title"] = "Usuarios";
}

<h2 class="fw-bold text-primary mb-4">Gestión de Usuarios</h2>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.IdUsuario</td>
                <td>@usuario.Nombres</td>
                <td>@usuario.Apellidos</td>
                <td>@usuario.Correo</td>
                <td>@usuario.NombreRol</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.IdUsuario" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@usuario.IdUsuario" class="btn btn-info btn-sm">Detalles</a>

                    @if (!usuario.HasPurchases)
                    {
                        <a asp-action="Delete" asp-route-id="@usuario.IdUsuario" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary" disabled title="No se puede eliminar, tiene compras">
                            <i class="bi bi-trash"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

